<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <script src="{{ url_for('static', filename='tailwind_3.4.5.js') }}"></script>
</head>

<body>
    <div class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-6 flex justify-between items-center">
            <a href="#" class="text-xl font-semibold text-blue-800">ImageColorFinder</a>

            <div class="hidden md:flex space-x-8">
                <a href="#" class="text-gray-600 hover:text-blue-600">Home</a>
                <a href="#" class="text-gray-600 hover:text-blue-600">About</a>
                <a href="#" class="text-gray-600 hover:text-blue-600">Contact</a>
            </div>
        </div>
    </div>

    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer class="bg-gray-800 text-white py-4">
        <div class="max-w-7xl mx-auto px-4 flex flex-col items-center">
            <!-- Navigation Links -->
            <div class="text-center mb-4">
                <a href="#home" class="text-gray-400 hover:text-gray-300 mx-3">Home</a>
                <a href="#about" class="text-gray-400 hover:text-gray-300 mx-3">About</a>
                <a href="#contact" class="text-gray-400 hover:text-gray-300 mx-3">Contact</a>
            </div>
    
            <!-- Copyright Information -->
            <p class="text-sm">
                &copy; 2024. ImageColorFinder. All rights reserved.
            </p>
        </div>
    </footer>

</body>

</html>